<mat-toolbar color="primary">
  <img src="assets/Logo.png">
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="filter">
    <mat-icon>filter_alt</mat-icon>
  </button>
  <mat-menu #filter='matMenu'>
    <button mat-menu-item (click)="filterTodos('all')">
      <span>Show All</span>
    </button>
    <button mat-menu-item (click)="filterTodos('pending')">
      <span>Show Pending</span>
    </button>
    <button mat-menu-item (click)="filterTodos('done')">
      <span>Show Done</span>
    </button>
  </mat-menu>
</mat-toolbar>
<div class="container">
  <div class="row">
    <div class="col-xs-12 order-md-first order-last"
         [ngClass]="editMode ? 'col-md-6' : 'col-md-12'">
      <app-list (editMode)="onEditMode($event)" #todolist></app-list>
    </div>
    <div class="col-xs-12 order-md-last order-first edit-col"
         *ngIf="editMode"
         [ngClass]="editMode ? 'col-md-6' : 'col-md-12'">
      <app-edit
        (editCompleted)="onEditCompleted($event)"
        [todo]="this.todo"></app-edit>
    </div>
  </div>
</div>
<button mat-fab color="accent" class="add-fab" (click)="add()" >
  <mat-icon>add</mat-icon>
</button>
