<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{todo.dueDate}}
    </mat-panel-title>
    <mat-panel-description>
      {{todo.title}}
    </mat-panel-description>
    <button mat-icon-button (click)="checkOff($event)">
      <mat-icon [style.color]="todo.done ? '#006064' : '#9E9E9E'">check</mat-icon>
    </button>
    <button mat-icon-button (click)="edit($event)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="delete($event)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-expansion-panel-header>
  <p>{{todo.description}}</p>
</mat-expansion-panel>
